/* Sign in Styles */
:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'helvetica', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

ul {
	list-style: none;
}

h1 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

p {
	font-family: 'helvetica', sans-serif;
	font-size: 16px;
	color:#737373;
	margin: 0.5rem 0;
}

img {
	width: 100%;
}

.logo {
	width: 100%;
	height: 93vh;
	position: relative;
	background: url('images/background2.jpg') no-repeat center center/cover;
	filter: brightness(0.6);
}

.logo::after {
	content: '';
	position:none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.logo-top {
	position: relative;
	z-index: 2;
	height: 90px;

}

.logo-top img {
	width: 170px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
  

}

/*Login*/
.login-box {
  width: 320px;
  height: 460px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  align-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 30px;
   background: rgba(0, 0, 0, 0.8);
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

.txt1 {
  font-family: 'helvetica';
  font-size: 20px;
  line-height: 1.4;
  color: #555555;
}

/*Footer*/
.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}


