<!DOCTYPE html>
<html lang="en" >

<head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  	<title>Netflix</title>
  	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	
</head>

<style>
    .showcase {
	width: 100%;
	height: 93vh;
	position: relative;
	background: url('../static/images/background.jpg') no-repeat center center/cover;
}
</style>

<body>

		<section class="showcase">
         	<div class="showcase-top">
         		<span> 
					<img src="static/images/logo.png"/>
					<a href="signin" class="btn btn-rounded">Sign in</a>
				</span>
        	</div>

			<div class="showcase-content">
				<h1>Unlimited movies, TV shows, and more.</h1>
				<p>Watch anywhere. Cancel anytime.</p>
				<a href="#" class="btn btn-xl"> Try it now  <i class="fas fa-chevron-right btn-icon"></i></a>
			</div>
		</section>

		
		<section class="content">
			<div class="container">
				
				<div id="content" class="content-item show">
					<div class="content-inner">
						<div> 
							<h1>Enjoy on your TV.</h1>
							<p> Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.. </p>
							<a href="#" class="btn btn-lg">Try it now <i class="fas fa-chevron-right btn-icon"></i></a>
						</div>
						<img src="static/images/tv1.png" alt="" />
					</div>
				</div>

				<div id="content" class="content-item show">
					<div class="content-inner">
						<img src="static/images/phone.png" alt="" />
						<div> 
							<h1>Download your shows to watch on the go.</h1>
							<p> Save your data and watch all your favorites offline. </p>
							<a href="#" class="btn btn-lg">Try it now <i class="fas fa-chevron-right btn-icon"></i></a>
						</div>
					</div>
				</div>

				<div id="content" class="content-item show">
					<div class="content-inner">
						<div> 
							<h1>Watch everywhere.</h1>
							<p> Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more. </p>
							<a href="#" class="btn btn-lg">Try it now <i class="fas fa-chevron-right btn-icon"></i></a>
						</div>
						<img src="static/images/device.png" alt="" />
					</div>
				</div>
				
			</div>
		</section>


		<footer class="footer">
			<p> Questions? Call 1-866-579-7172</p>
			<div class="footer-cols">
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Investor Relations</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Speed Test</a></li>
				</ul>
				<ul>
					<li><a href="#">Help Center</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Cookie Preferences</a></li>
					<li><a href="#">Legal Notices</a></li>
				</ul>
				<ul>
					<li><a href="#">Account</a></li>
					<li><a href="#">Ways to Watch</a></li>
					<li><a href="#">Corporate Information</a></li>
					<li><a href="#">Netflix Originals</a></li>
				</ul>
				<ul>
					<li><a href="#">Media Center</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>

		</footer>
<!-- partial -->
  <script  src="js/script.js"></script>

</body>
</html>